nav{
    text-align: right;
    background-color: #0FB2F2;
    box-shadow: 1px 1px 8px black;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0FB2F2;
    margin-right: 20px;
}


body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #0FB2F2;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    max-width: 500px;
    margin-top: 30px;
    box-shadow: 1px 1px 8px black;
    border-radius: 15px;
    text-align: center;
    color: aliceblue;
}

.container input{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    background-color: aliceblue;
}

.container button{
    border: none;
    border-radius: 6px;
    padding: 10px;
    background-color: aliceblue;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.container button:hover{
    background-color: #5ed1ff;
}

.weather-container{
    background-color: #48c5f7;
    border-radius: 15px;
    padding: 20px;
    margin-top: 70px;

}

.weather-card{
    background-color: #0FB2F2;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    vertical-align: middle;
}

.weather-card:hover {
    transform: translateY(-5px);
    border-radius: 15px;
}

.p-container{
    vertical-align: middle;
    display: table-cell;
}

nav button{
    border: none;
    background-color: #0FB2F2;
    color: aliceblue;
    font-size: 20px;
    margin-right: 30px;
}

@media screen and (max-width: 640px){
    .container{
        max-width: 300px;
    }

    .weather-card{
        flex-direction: column;
    }
    nav{
        text-align: center;
        margin: 0;
    }
    nav a, nav button{
        margin: 0;
    }
}

@media screen and (max-width: 435px){
    .container{
        max-width: 280px;
    }

    .weather-card{
        flex-direction: column;
    }
}